page-barbecue-result {
	.item-ios.item-block .item-inner {
	  padding-right: 0px;
	  padding-right: 0px;
	  border-bottom: 0px solid #c8c7cc;
	}
	
	.label-ios {
	  margin: 0px 0px 0px 0px;
	}

	.margem {
		border-bottom: 1px solid #c8c7cc;
	}
}
